<div class="col-md-4 aside">
	<div class="col-md-6" ng-controller='courseController'>
	  	<div class="row">
	  		<p class="col-md-10">Courses</p>
	  		<a class="btn btn-default col-md-2" ui-sref="school.insert-cr"><span class="glyphicon glyphicon-plus"></span></a>
	  	</div>	
	  	<ul class="list-unstyled" ng-repeat="course in courseData">
			<li>
			    <a ui-sref="school.read-cr({id:course.id, name:course.name, description:course.description, image:course.image})">
					<div class="row">
						<div class="col-md-12">
						    <div class="thumbnail">
						        <img src="img/banana.jpg" alt="...">
						        <div class="caption" class="col-md-8">
						      	    <ul class="list-unstyled">
						      			<li>{{course.name}}</li>
						      			<li>{{course.description}}</li>	
						      		</ul>
						      	</div>
						    </div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6" ng-controller='studentController'>
	  	<div class="row">
	  		<p class="col-md-10">Students</p>
	  		<a class="btn btn-default col-md-2" ui-sref="school.insert-st"><span class="glyphicon glyphicon-plus"></span></a>
	  	</div>
	  	<ul class="list-unstyled" ng-repeat="student in studentData">
	  		<li>
	  			<a ui-sref="school.read-st({id:student.id, name:student.name, email:student.email, phone:student.phone, course: student.course, image:student.image})">
					<div class="row">
	   				  	<div class="col-md-12">
						    <div class="thumbnail">
						      	<img src="img/banana.jpg" alt="...">
						        <div class="caption" class="col-md-8">
						      	 	<ul class="list-unstyled">
						      			<li>{{student.name}}</li>
						      			<li>{{student.email}}</li>
						      			<li>{{student.phone}}</li>
						      			<li>{{student.course}}</li>
						      		</ul>
						      	</div>
						    </div>
						</div>
					</div>
				</a>
			</li>	
		</ul>
	</div>
</div>
<div class="col-md-8" ui-view>

</div>
