
	<form class="adForm" ng-controller="adminFormCntrl">
		<div class="form-group">
	      	<button type="submit" class="btn btn-default" ng-click='postData()'>Save</button>
	 	</div>
		<h4>Add Administration:</h4>
		<div class="form-group">
			<label for="adName">Name:</label>
			<input type="text" class="form-control" id="adName" placeholder="Name" ng-model="adName">
		</div>
		<div class="form-group">
			<label for="adPhone">Phone:</label>
			<input type="text" class="form-control" id="adPhone" placeholder="Phone" ng-model="adPhone">
		</div>
		<div class="form-group">
			<label for="adEmail">Email:</label>
			<input type="email" class="form-control" id="adEmail" placeholder="Email" ng-model="adEmail">
		</div>
		<div class="form-group">
			<label for="adImage">File input</label>
			 	<input ng-model="form.image" type="file" class="form-control input-lg" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" >
	  			<img ng-src="{{image_source}}" style="width:100px;">
			<!-- <input type="file" fileread="adImage" />
 -->
			<!-- 
		   	<input type="file" class="form-control" id="adImage" name="image" ng-model="adImage"> -->
		</div>

		{{adImage}}

		<select class="form-control" ng-model="adRole_id">
	  		<option>1</option>
	  		<option>2</option>
	  		<option>3</option>
		</select>
		<div class="form-group">
			<label for="adPassword">Password:</label>
			<input type="text" class="form-control" id="adPassword" placeholder="Password" ng-model="adPassword">
		</div>	
	</form>
