
			<div class="col-md-4">
		  		<div class="col-md-6">
		  			<div class="row">
		  				<p class="col-md-10">Courses</p>
		  				<a class="btn btn-default col-md-2" ui-sref=""><span class="glyphicon glyphicon-plus"></span></a>
		  			</div>	
		  			<ul class="list-unstyled">
				  		<li>
							<div class="row">
							  <div class="col-md-12">
							    <div class="thumbnail">
							      <img src="img/banana.jpg" alt="...">
							      <div class="caption">
							        <p>...</p>
							      </div>
							    </div>
							  </div>
							</div>
				  		</li>
					</ul>
		  		</div>
		  		<div class="col-md-6">
		  			<div class="row">
		  				<p class="col-md-10">Students</p>
		  				<a class="btn btn-default col-md-2" href="/home/"><span class="glyphicon glyphicon-plus"></span></a>
		  			</div>
		  			<ul class="list-unstyled" ng-repeat="student in studentData">
		  			<button class="btn">
				  		<li>
							<div class="row">
							  	<div class="col-md-12">
							    	<div class="thumbnail">
							      		<img src="./img/{{student.image}}" alt="..." class="col-md-4"> 
							      		<div class="caption" class="col-md-8">
							      			<ul class="list-unstyled">
							      				<li>{{student.name}}</li>
							      				<li>{{student.email}}</li>
							      				<li>{{student.phone}}</li>
							      				<li>{{student.course_id}}</li>
							      			</ul>
							    		</div>
							    	</div>
							  	</div>
							</div>
				  		</li>
					</button>
					</ul>

		  		</div>
		  	</div>